In [283]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [284]:
cnx = mysql.connector.connect(user='root', password='password',
                              host='127.0.0.1',
                              database='bitcoin')

In [285]:
cursor = cnx.cursor()
cursor.execute('select * from addresses')
addresses = pd.DataFrame(data=list(cursor),columns = cursor.column_names)
cursor.execute('select * from prices')
prices = pd.DataFrame(data=list(cursor),columns = cursor.column_names)

In [294]:
params = [7, 30, 90]
dateRange = pd.date_range(start="2015-01-01",end="2025-02-01")

In [ ]:
for param in params:    
    for i in range(1, 1000):
        print(i, "started")
        rank = i
        address = addresses.iloc[rank].address
        # address = '34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo'
        print(address)
        cursor = cnx.cursor()
        cursor.execute("""select time, -amount as amount from inputs i
                    join transactions t on t.txid = i.txid
                    join blocks b on b.hash = t.block
                    where address = %s""", (address,))
        sent = pd.DataFrame(data=list(cursor),columns = cursor.column_names)
        cursor.execute("""select time, amount from outputs o
                    join transactions t on t.txid = o.txid
                    join blocks b on b.hash = t.block
                    where address = %s""", (address,))
        received = pd.DataFrame(data=list(cursor),columns = cursor.column_names)

        inout = pd.concat([sent, received])
        sorted = inout.sort_values(by="time")
        sorted["balance"] = sorted.amount.cumsum()


        delta = [sorted[(sorted["time"] > d - timedelta(days=param)) & (sorted["time"] <= d)].amount.sum() for d in dateRange]

        d = {"address" : address, "date" : dateRange, "parameter" : param, "value" : delta}
        table = pd.DataFrame(data=d)
        conn = create_engine("mysql://root:kenderdumig@localhost/bitcoin")
        table.to_sql(name="flow", con=conn, if_exists="append", index=False)
        print(i, "finished")

In [297]:
cnx.close()